@import url(./base.css);
@import url(./components.css);
.logo-txt {
    font-size: 1.7em;
    text-decoration: none;
    color: var(--clr-white);
}

.copyright {
    text-align: center;
    color: var(--clr-grey);
}

.white {
    color: #fff
}

a[href="#"] {
    text-decoration: none;
}

.margin_rl {
    margin-left: 20rem;
    margin-right: 20rem;
}

nav a:hover {
    color: var(--clr-grey);
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }
    botones-blancos{
        padding: 0rem;
        max-width: 0.5rem;
    }

    /* external css: flickity.css */

    * {
        box-sizing: border-box;
    }

    body {
        font-family: sans-serif;
    }

    .carousel_conf {
        background: var(--clr-grey);
        margin-top: 10rem;
        scale: 0.9.9;
    }

    .carousel-img {
        display: block;
        height: 6.25rem;
        scale: 0.9.9;
    }

    .recipe-body{
        margin: 0 auto;
        max-width: 90%;
        max-height: 200%;
    }



    @media screen and (min-width: 768px) {
        .carousel img {
            height: 100px;
        }
    }
}

.contenedor {

    width: 450px;
    height: 350px;
    padding: 20px;
    background: #fff;
    overflow: auto;
    font-family: 'Open Sans';
    border-radius: 4px;
}

.contenedor h1 {
    font-size: 38px;
    font-weight: 600;
    color: #000;
}

.contenedor hr {
    background: #ff9d00;
    width: 20%;
    height: 5px;
    border: none;
    margin: 20px 0;
    border-radius: 50px;
}

p {
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 16px;
    color: #414141;
}

/* Scroll Personalizado */

.contenedor::-webkit-scrollbar {
    width: 7px;
}

.contenedor::-webkit-scrollbar-thumb {
    background: #ff9d00;
    border-radius: 5px;
}
