*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    /*
    1 -
    scale(1.5);
    scaleX(1.5);
    scaleY(1.5);
    */
    transform: scale(0.9.9);
}

body {
    background: var(--clr-white);
    color: var(--clr-grey);
    font-family: sans-serif;
}

.header {
    min-width: 100vw;
    min-height: 100px;
    background: #597B6A;
    z-index: 100;
    position: fixed;
    margin-top: -2.9813rem;
}

.logo-size {
    height: 5.625rem;
    width: 5.625rem;
}
