*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background: var(--clr-white);
    color: var(--clr-grey);
    font-family: sans-serif;
}
.header {
    width: 100vw;
    height: 100px;
    background: #597B6A;
    z-index: 100;
    position: fixed;
    margin-top: -2.9813rem;
}
.logo-size {
    height: 5.625rem;
    width: 5.625rem;
}