:root{
    /*Margin and Paddings*/

    mt-l: 5rem;
    mt-m: 3rem;
    mt-s: 1.5rem;

    /*Colors*/

    --clr-white: 	hsl(300, 3%, 93%);
    --clr-green: hsla(150, 16%, 41%);
    --clr-grey: hsla(0, 3%, 34%);

    /*Font size*/
    
    --ff-primary: 'inter'

    --fs-s: 0.50rem;

    --fs-m: 0.75rem;

    --fs-l: 1.0rem;

    --fs-xl: 1.25rem;

    /*Font and weight*/
    --fw-s: 200;

    --fw-m: 300;

    --fw-l: 400;

    --fw-xl: 500;
}
